body{
    padding: 10px;
    margin: 20px;
        background: linear-gradient(270deg, #7b9a98, #48ded5, #37c0fa);
        background-size: 600% 600%;
    
        -webkit-animation: AnimationName 7s ease infinite;
        -moz-animation: AnimationName 7s ease infinite;
        animation: AnimationName 7s ease infinite;
}

    
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#v1{
    margin: 20px;
    display: block;
}
#v2{
    margin: 20px;
    display: block;
}
#Vb{
    margin: 20px;
    display: block;
}
#Vc{
    margin: 20px;
    display: block;
}
#ang1{
    margin: 20px;
    display: block;
}
#ang2{
    margin: 20px;
    display: block;
}